* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: #f7f7f9;
}

header {
  width: 100%;
  height: auto;
  background-color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin-top: 14px;
  margin-bottom: 14px;
  height: 20px;
  width: 76px;
  left: 12px;
  top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #6070ff;
  margin-left: 24px;
  text-decoration: none;
}

#burger {
  width: 18px;
  height: 12px;
  left: 4px;
  top: 17px;
  margin-right: 24px;
  text-decoration: none;
}

.me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: url(./assets/images/header-shapes\ mobile@2x.svg) #fff;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 100px;
}

.onme {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 114px;
}

.hello-greeting {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  color: #172b4d;
  line-height: 52px;
  text-align: left;
  left: 24px;
  top: 114px;
}

.about-me {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #344563;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-right: 24px;
  margin-top: 12px;
}

.conn {
  font-family: "Poppins", sans-serif;
  color: #7f8cff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-right: 24px;
  margin-top: 12px;
}

.socials {
  margin-top: 12px;
  margin-bottom: 136px;
}

.socials li {
  list-style: none;
  display: inline-block;
}

.inter {
  color: #505f79;
  margin-right: 19px;
}

.projects {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 114px;
  justify-content: center;
  align-items: center;
  gap: 88px 0;
  height: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  margin-left: 24px;
  margin-right: 24px;
  max-width: max-content;
}

figure {
  margin-top: 16px;
}

img {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.image-wrapper {
  width: 100%;
}

.project-info {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 12px;
  max-width: 100%;
}

.tonic-one {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
}

.tonic-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
}

.tonic-list li {
  margin-right: 8px;
}

.wap {
  white-space: nowrap;
  color: #7a869a;
}

.langs li {
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  padding: 4px 12px;
  margin-bottom: 36px;
  margin-right: 5px;
}

.work-info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-top: 20px;
  margin-right: 75px;
}

.tonic-para {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tonic-btn {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
  text-decoration: none;
  color: #396df2;
  margin-bottom: 40px;
}

.lint {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  border-top-right-radius: 100px;
  margin-top: 114px;
}

.about-socials {
  margin-top: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.about-socials li {
  margin-top: 12px;
  list-style: none;
  margin-right: 12px;
}

.freak-lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.freak-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.freak-skills {
  list-style: none;
  margin-top: 25px;
}

.web-stack {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.lach {
  margin-left: 10px;
}

.chevron-down {
  height: 6px;
  width: 12px;
  margin-right: 66px;
}

.chevron {
  height: 12px;
  width: 6px;
  margin-right: 66px;
}

.stack-icons {
  height: 48px;
  width: 88px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 12px;
}

.stack-lang {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.stack-text {
  font-family: "Poppins", sans-serif;
  margin-left: 16px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.stack-lang-one {
  margin-top: 36px;
}

.stack-lang-two {
  margin-top: 12px;
}

.stack-lang-three {
  margin-top: 12px;
}

.bottom-sep {
  margin-top: 23px;
  background-color: #dfe1e6;
}

#bottom-sep-ski {
  margin-bottom: 113px;
}

.la {
  margin-top: 60px;
}

.fra {
  margin-top: 36px;
}

.ski {
  margin-top: 24px;
}

.footer {
  background: url(./assets/images/footer-background.svg) #6070ff;
  background-repeat: no-repeat;
  background-position: 100% 20%;
  border-top-left-radius: 100px;
  width: 100%;
  padding-top: 103px;
  padding-bottom: 45px;
  font-family: "Poppins", sans-serif;
}

.footer h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  margin-bottom: 12px;
}

.footer .greeting-text {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  line-height: 28px;
  color: #ebebff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  margin-right: 24px;
  gap: 80px;
}

footer .footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.footer-form input,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: inherit;
}

.footer-form .tonic-btn {
  align-self: flex-start;
}
